<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "barragens.pt" %>
      <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
      <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
      <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://gw.alipayobjects.com/os/lib/antv/g2/4.1.45/dist/g2.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="is-primary">
      <nav class="navbar navbar_bck" role="navigation" aria-label="main navigation">
        <a class="navbar-item" href="/">
          <img src={Routes.static_path(BarragensptWeb.Endpoint, "/images/logo.png" )} height="46px">
        </a>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="is-primary">
      <div class="columns">
        <div class="column">
          <div class="box" style="padding: 6px; margin-bottom: 10px;">
            <div id='map' style='height: 760px;' phx-update="ignore" phx-hook="PhoneNumber"></div>
          </div>
          <div class="has-text-centered">
            <span class="tag is-light" style="background-color:#ff675c">0 - 20</span>
            <span class="tag is-light" style="background-color:#ffc34a">21 - 40</span>
            <span class="tag is-light" style="background-color:#ffe99c">41 - 50</span>
            <span class="tag is-light" style="background-color:#c2faaa">51 - 60</span>
            <span class="tag is-light" style="background-color:#a6d8ff">61 - 80</span>
            <span class="tag is-light" style="background-color:#1c9dff">81 - 100</span>
          </div>
        </div>
        <div class="column">
          <input id="mapbox_token" type="hidden" value={System.get_env("MAPBOX_API_TOKEN")} />
          <%= @inner_content %>
        </div>
      </div>
    </div>
  </div>
  <div class="has-text-centered is-size-7">
    <br />
    <a href="https://www.flaticon.com/free-icons/dam" title="dam icons">Icon created by Freepik - Flaticon</a>
  </div>
</body>

</html>