@media only screen and (max-width: 46.875em) {
    .reports-logo {
        height: 32px;
        margin-top: 10px;
        margin-left: 50px;
        background-repeat: no-repeat;
        background-size: 38px;
    }

    .logo-text-reports {
        padding-left: 10px;
        margin-left: 35px;
        margin-top: -5px;
        font-size: 30px;
        color: #8196a8;
        font-family: orangeJuice;
        display: inline-block;
    }

    .logo-text-sub-reports {
        padding-left: 5px;
        margin-top: -5px;
        font-size: 20px;
        color: #8196a8;
        font-family: orangeJuice;
        display: inline-block;
    }
}

@media only screen and (min-width: 46.875em) {
    .reports-logo {
        display: none;
    }
}

.btn-close-tooltip {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 18px;
}

.info-reports {
    margin-left: 10px;
}

.notification {
    background-color: #f2f0f0;
}

.meteo-legend {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 190px;
    z-index: 9999999;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.meteo-legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.bpt-datepicker {
    max-width: 100px;
}

.label-datepicker {
    width: 25px;
    display: inline-block;
}

.datepicker {
    margin-left: -30px;
}

.report-notification {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0.625rem 1.25rem 0.625rem 0.75rem;
}

.maps_pane {
    max-height: 93lvh;
    overflow-y: scroll;
    margin-left: 15px;
    margin-right: 15px;
}

.reports-header {
    margin-top: 15px;
    padding: 0.35rem;
    margin-left: 15px;
    margin-right: 15px;
}

.reports-header-text {
    margin-left: 8px;
}

.label-report-date {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 99%;
}

.column {
    padding: 0px;
    flex-basis: unset;
}

.error-messages {
    margin-top: 5px;
    font-size: 14px;
}

.error-message-title {
    font-size: 14px;
}

.rain-bar-chart-column {
    font-size: 9px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    flex-grow: unset;
    font-weight: bold;
    margin-top: 5px;
}

.year-column {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    flex-grow: unset;
    font-weight: bold;
    margin-top: 20px;
}

.empty-column {
    flex-grow: unset;
    width: 80px;
}

.table-container {
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 8px;
}

.block:not(:last-child),
.box:not(:last-child),
.breadcrumb:not(:last-child),
.content:not(:last-child),
.level:not(:last-child),
.message:not(:last-child),
.notification:not(:last-child),
.pagination:not(:last-child),
.progress:not(:last-child),
.subtitle:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.tabs:not(:last-child),
.title:not(:last-child) {
    margin-bottom: 0rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 4px;
    text-align: left;
    background-color: #fff;
}

th {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.first-header {
    background-color: #fff;
    border-top-left-radius: 6px;
}

.last-header {
    background-color: #fff;
    border-top-right-radius: 6px;
}

tbody td {
    position: relative;
}

.daily-date {
    font-size: 12px;
    font-weight: bold;
}

.reports-legend {
    font: 12px/20px Helvetica Neue, Arial, Helvetica, sans-serif;
}

.reports-legend-group {
    margin-left: 0px;
    padding: 0.60rem;
}

.reports-legend-group-precipitation {
    max-width: 800px;
}

.reports-legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.chk-correlate {
    font-size: 12px;
}

.chk-correlate-precipitation {
    margin-top: 15px;
    font-size: 12px;
}

.hidden {
    display: none;
}

.map-container {
    position: relative;
    margin-top: 20px;
}

.map-image {
    position: absolute;
    /* Adjust according to label height */
    left: 0;
    opacity: 0;
    height: 65lvh;
    transition: opacity 1s ease-in-out;
}

.animated-map-columns {
    margin-top: 0px;
    margin-left: 0px;
}

.control-buttons {
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.progress-animated-map {
    width: 200px;
}