<div style="margin-left: 30px; margin-top: 30px;">
    <div class="columns">
        <div class="column">
            <img style="height:250px" src="https://assets.barragens.pt/basin_storage/svg/monthly/2019_8.svg" />
        </div>
        <div class="column">2</div>
    </div>
    <div class="columns">
        <div class="column">333</div>
        <div class="column">4</div>
    </div>
</div>