<table id="tbl_magic">
    <tbody>
        <%= for {year, map1} <- @maps do %>
            <tr>
                <td>
                    <div style="width: 100%; height: 150px" id={"#{year}"} class="vega_chart" />
                </td>
            </tr>
            <% end %>
    </tbody>
</table>