<table>
    <%= for map_url <- @maps do %>
        <tr>
            <%= for map <- map_url do %>
                <td>
                    <label class="daily-date">
                        <%= map.date %>
                    </label>
                    <img src={map.url} onerror="this.src='https://assets.barragens.pt/not_available_map.jpg';" />
                </td>
                <% end %>
        </tr>
        <% end %>
</table>