<table id="tbl_magic">
    <tbody>
        <%= for map <- @maps do %>
            <tr>
                <td>
                    <label class="year-column">
                        <%= map.month %>
                    </label>
                </td>
                <td>
                    <div style="width: 100%; height: 150px" id={"#{map.year}-#{map.month}"}
                        class="vega_chart" />
                </td>
            </tr>
            <% end %>
    </tbody>
</table>