<%= if @meteo_index == "precipitation" do %>
    <%= render "_legend_#{@meteo_index}_#{@time_frequency}.html" , assigns %>
<% else %>
    <%= render "_legend_#{@meteo_index}.html" , assigns %>
<% end %>

<div class="table-container">
    <%= if @viz_mode == "static" do %>
        <%= render "_table_#{@time_frequency}.html" , assigns %>
    <% else %> 
        <%= render "_animated_map.html" , assigns %>
    <% end %> 
</div>